
{% extends "templates/main/base.html" %}

{% block contents %}

{% for post in page_obj %}
<div style="position: fixed; width:100%; height:3rem; left:0rem; text-align: center; font-size: 1.5rem; padding-top: 0.35rem; background-color: #243832; color: #B5DBBB; font-family: 'Noto Sans KR', sans-serif; font-optical-sizing: auto; font-weight: 500; font-style: normal;"> {{ post.book }}  {{ post.jang }} </div>
<div style="position: fixed; height:3rem; right:1rem; text-align: right; font-size: 0.9rem; padding-top: 0.5rem; font-family: 'Jua', sans-serif; font-weight: 400; font-style: normal; color: #B5DBBB;"> {{ post.sort }} </div>

<br/>
<h3> </h3>
<div style="font-family: 'Noto Sans KR', sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; font-size: 1.3rem; padding-left: 1rem; padding-right: 1rem; "> <br/> <br/>{{ post.ki|linebreaks }}</div>
{% endfor %}

<br/><br/>

<div>
    <ul style = "display:flex; list-style:none;">
        {% if page_obj.has_previous %}
        <a style="text-decoration:none; color: inherit; position: fixed; bottom: 10rem; left: 2rem; height: 1.5rem; " href="?page={{page_obj.previous_page_number}}"> <span style="font-size:3.2rem; background-color: #786C70; opacity: 0.8; border-radius: 50%" class="material-symbols-outlined"> navigate_before</span> </a>
        {% endif %}

        {% if page_obj.has_next %}
        <a style="text-decoration:none; color: inherit; position: fixed; bottom: 10rem; right: 2rem; height: 1.5rem; " href="?page={{page_obj.next_page_number}}"> <span style="font-size:3.2rem; background-color: #786C70; opacity: 0.8; border-radius: 50%" class="material-symbols-outlined">navigate_next</span> </a>
        {% endif %}
    </ul>
</div>

<!-- 광고 단위 -->
<div style="position: fixed; left: 0px; top: 3rem; width:100%;">
<ins class="kakao_ad_area" style="display:none;" data-ad-unit = "DAN-n5BxNMDIEQe3kSZU" data-ad-width = "320" data-ad-height = "50"></ins>
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
</div>

<!-- Span bottom edge -->
<div class="nav" style="position: fixed; left: 0px; bottom: 0px; width:100%; height:3rem; background-color: #F6F5F0; ">
    <div class="container-fluid" style="display: flex; justify-content: space-evenly;">
        <div>
            <button type="button" onclick="location.href='{% url 'home' %}'" style="display: table; text-decoration: none; color: inherit; font-size:3rem; font-weight: 100; background-color: #F6F5F0; border: none;">
                <div><span class="material-symbols-outlined" style="vertical-align: middle; font-size:1.6rem; color: gray">home</span></div>
                <div><a style="vertical-align: middle; font-size:0.9rem; color: gray">홈</a></div>
            </button>
        </div>
        <div>
            <button type="button" onclick="location.href='{% url 'page' %}'" style="display: table; text-decoration: none; color: inherit; font-size:3rem; font-weight: 100; background-color: #F6F5F0; border: none;">
                <div><span class="material-symbols-outlined" style="vertical-align: middle; font-size:1.6rem; color: black">dictionary</span></div>
                <div><a style="vertical-align: middle; font-size:0.9rem; color: black">읽기</a></div>
            </button>
        </div>
        <div>
            <button type="button" onclick="location.href='{% url 'select' %}'" style="display: table; text-decoration: none; color: inherit; font-size:3rem; font-weight: 100; background-color: #F6F5F0; border: none;">
                <div><span class="material-symbols-outlined" style="vertical-align: middle; font-size:1.6rem; color: gray">fact_check</span></div>
                <div><a style="vertical-align: middle; font-size:0.9rem; color: gray">책</a></div>
            </button>
        </div>
        <div>
            <button type="button" onclick="location.href='{% url 'search_nav' %}'" style="display: table; text-decoration: none; color: inherit; font-size:3rem; font-weight: 100; background-color: #F6F5F0; border: none;">
                <div><span class="material-symbols-outlined" style="vertical-align: middle; font-size:1.6rem; color: gray">search</span></div>
                <div><a style="vertical-align: middle; font-size:0.9rem; color: gray">찾기</a></div>
            </button>
        </div>
    </div>
</div>

{% endblock %}
